body {
  background-color: #eaeaea;
  margin: 0px;
}



a button:hover {
  transform: scale(1.05); /* Maak de knop een beetje groter */
}


a button:active {
  transform: scale(1.1); /* Vergroot de knop met 10% */
  
}

html {
  scroll-behavior: smooth;
}


a {
  text-decoration: none; 
}


.container-menu li {
  margin: 0;
  height: inherit;
  width: 0;
}
.container-menu ul {
  margin: 0;
}
.container-menu{
  list-style: none;    
  padding: 0;              
  margin: 0;            
  
}
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0;
  
  padding: 0;
  
  font-size: inherit;
 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
  margin: 0;
  
  padding: 0;
 
  font-size: inherit;
  
  border-radius: 10px;
  
  border: none;
  
  background: transparent;
  
  cursor: pointer;
  
  box-shadow: none;
 

}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  
  padding: 0;
 
  font-size: inherit;
  
}

h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  
  padding: 0;
 
  font-size: inherit;
  
}

a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.body-of-header {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
}

.header img {
  height: 50px;
}

.header .nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.header a {
  text-decoration: none;
  color: black;
  margin: 0 15px;
  font-size: 16px;
}

.header .spacer {
  margin-right: 30px;
}


.box-blue {
  border-top-left-radius: 25px;
  width: 100px;
  height: 50px;
  background-color: #77E6FF;
}
.box-purple {
  border-bottom-right-radius: 25px;
  width: 100px;
  height: 50px;
  background-color: #800080;
}
.background{
  z-index: -1;
  position: absolute;
  width: 100%;
  margin-top: -300px;

}
.container-tags{
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  margin-top: 50px;
}
.text1{
  border-radius: 50px;
  border: 4px solid #B2B2B2;
  padding: 10px;
  width: 270px;
  background-color:black ;
  box-shadow: #F1E457 ;
  color:#129989;
  font-size: 42px
  
}
.text2{
  border-radius: 50px;
  border: 4px solid #B2B2B2;
  padding: 10px;
  width: 270px;
  background-color:black ;
  color:#B93CB7;
  font-size: 42px
  
}
.text3{
  border-radius: 50px;
  border: 4px solid #B2B2B2;
  padding: 10px;
  width: 270px;
  background-color:black ;
  color:#FFC24C;
  font-size: 42px
}
.text4{
  border-radius: 50px;
  border: 4px solid #B2B2B2;
  padding: 10px;
  width: 270px;
  background-color:black ;
  color:#FF9E9E;
  font-size: 42px
}
.text5{
  border-radius: 50px;
  border: 4px solid #B2B2B2;
  padding: 10px;
  width: 270px;
  background-color:black ;
  color:#FE5B29;
  font-size: 42px
}
.text6{
  border-radius: 50px;
  border: 4px solid #B2B2B2;
  padding: 10px;
  width: 270px;
  background-color:black ;
  color:#9AE196;
  font-size: 37px
}
.text7{
  border-radius: 50px;
  border: 4px solid #B2B2B2;
  padding: 10px;
  width: 270px;
  background-color:black ;
  color:#F1E457;
  font-size: 42px
}
.container-tags2{
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  margin-top: 50px;}

  .container-img{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img{
    margin-top: 100px;
    width: 95%;
    height: fit-content;
  }
  .w3schools{
    width: 45%;
    position: absolute;
   margin-top: -60px;
   margin-left: 30%;
   
  }
  .container-vakken{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }
  .title-1{
    font-size: 50pt;

  }
  .nederlands{
    font-size: 40pt;

  }
  .uitleg-nl{
    font-size: 20pt;
    
  }
  .uitleg-nl2{
    font-size: 20pt;
    
  }
  .uitleg-nl3{
    font-size: 20pt;
    
  }
  .title-2{
    font-size: 40pt;

  }
  .uitleg-rl{
    font-size: 20pt;
    
  }
  .uitleg-rl2{
    font-size: 20pt;
    
  }
  .uitleg-rl3{
    font-size: 20pt;
    
  }
  
  .title-3{
    font-size: 40pt;

  }
  .uitleg-el{
    font-size: 20pt;
    
  }
  .uitleg-el2{
    font-size: 20pt;
    
  }
  .uitleg-el3{
    font-size: 20pt;
    
  }
  .title-4{
    font-size: 40pt;

  }
  .uitleg-bl{
    font-size: 20pt;
    
  }
  .uitleg-bl2{
    font-size: 20pt;
    
  }
  .uitleg-bl3{
    font-size: 20pt;
    
  }
  .title-5{
    font-size: 40pt;

  }
  .uitleg-bcl{
    font-size: 20pt;
    
  }
  .uitleg-bcl2{
    font-size: 20pt;
  }
  .title-6{
    font-size: 40pt;

  }
  .uitleg-webl{
    font-size: 20pt;
    
  }
  .uitleg-webl2{
    font-size: 20pt;
  }
  .title-7{
    font-size: 40pt;

  }
  .uitleg-bil{
    font-size: 20pt;
    
  }
  .uitleg-bil2{
    font-size: 20pt;
  }
  
  
