body {
  background-color: #eaeaea;
  margin: 0px;
}
.container-menu li {
  margin: 0;
  height: inherit;
  width: 0;
}
.container-menu ul {
  margin: 0;
}
.container-menu{
  list-style: none;    
  padding: 0;              
  margin: 0;            
  
}
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0;
  /* Verwijdert standaard marges */
  padding: 0;
  /* Verwijdert standaard padding */
  font-size: inherit;
  /* Neemt de lettergrootte van het bovenliggende element over */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
  margin: 0;
  /* Geen marge */
  padding: 0;
  /* Geen padding */
  font-size: inherit;
  /* Neemt de font-size van het bovenliggende element over */
  border-radius: 10px;
  /* Behoud iets dat je wilt border-radius */
  border: none;
  /* Geen rand */
  background: transparent;
  /* Transparante achtergrond */
  cursor: pointer;
  /* Cursor verandert naar pointer */
  box-shadow: none;
  /* Geen schaduw */

}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  /* Verwijdert standaard marges */
  padding: 0;
  /* Verwijdert standaard padding */
  font-size: inherit;
  /* Neemt de lettergrootte van het bovenliggende element over */
}

h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  /* Verwijdert standaard marges */
  padding: 0;
  /* Verwijdert standaard padding */
  font-size: inherit;
  /* Neemt de lettergrootte van het bovenliggende element over */
}

a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.body-of-header {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
}

.header img {
  height: 50px;
}

.header .nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.header a {
  text-decoration: none;
  color: black;
  margin: 0 15px;
  font-size: 16px;
}

.header .spacer {
  margin-right: 30px;
}
.duo-box-body{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 0px;
  height: auto;
  justify-content: space-between;
}
.duo-box-body h1{
  font-size: 20px;
  margin-top: 20px;
  position: absolute;
}
.duo-box-body h2{
  font-size: 20px;
  margin-top: 20px;
  position: absolute;
}
.box-blue {
  border-top-left-radius: 25px;
  width: 100px;
  height: 100px;
  background-color: #77E6FF;
  position: top;
}
.box-purple {
  border-bottom-right-radius: 25px;
  width: 100px;
  height: 100px;
  background-color: #800080;
}
.box-empty{
  border-bottom-right-radius: 25px;
  width: 100px;
  height: 50px;
}
.p-text-right{
display: flex;
flex-direction: row;
justify-content: right;
position: absolute;
}
.p-text-right p{
  margin-top: -200px;
  margin-right: -1000px;
}